*{
    margin: 0%;
    padding: 0%;
}
.main{
    background-image: url("main photo.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    position: relative;
}
.main .box1{
    width: 100%;
    height: 80vh;
    opacity: 0.45;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 112px;
    position: relative;
    z-index: 1;

}
nav button{
    position: relative;
    z-index: 1;

}