@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

* {
    margin: 0%;
    padding: 0%;
}

.main {
    background-image: url("main image.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box1 {
    width: 100%;
    height: 80vh;
    opacity: 0.55;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 1;

}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Netflix Sans';
    gap:23px;
}
.hero :first-child{
    font-weight: bolder;
    font-size: 48px;
}

.hero :nth-child(2){
    font-weight: 400px;
    font-size: 24px;
}
