@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("main image.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box1 {
    width: 100%;
    height: 70vh;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 1;

}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* Bold */
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: rgb(69, 69, 69);
    position: relative;
    z-index: 2;
}

.head {
    font-family: san sans-serif;
    height: 41.21px;
    font-size: 30px;
    width: 1240.98px;
    color: rgb(241, 235, 235);
    margin-top: 10px;
    margin-left: 155px;
    margin-bottom: 15px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 10px;
    margin-bottom: 20px;


}

.box-img {
    height: 261.991px;
    width: 130.995px;
    background-size: cover;
    background-color: aqua;
    border-radius: 1rem;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out
}

.box-img:hover {
    transform: scale(1.1);
    border: 2px solid white;
}

.box-img h1 {
    font-size: 100px;
    color: black;
    /* Black fill inside the number */
    text-shadow:
        2px 2px 0 white,
        /* Top-left border */
        -2px 2px 0 white,
        /* Top-right border */
        2px -2px 0 white,
        /* Bottom-left border */
        -2px -2px 0 white;
    /* Bottom-right border */
    margin-right: 120px;
    margin-bottom: 120px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    padding: 7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
}

/*.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 3px 24px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}*/
.btn-red {
    background-color: red !important;
    color: white !important;
    border: none !important;
    border-radius: 4px;
    font-size: 20px;
    padding: 3px 24px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red !important;
    color: white !important;

}

.btn {
    padding: 3px 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(248, 243, 234, 0.021);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

.sign {
    color: white;
    border-radius: 15px;
    height: 85px;
    align-items: center;
    display: flex;
    background-color: rgba(110, 106, 106, 0.971);
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;

}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
}

.faqbox:hover {
    transition: all;
    background-color: #414141;
    color: white;
}

.faqbox {

    transition: all 1s ease-out;
    display: flex;
    padding: 24px;
    font-size: 24px;
    justify-content: space-between;
    background-color: #2d2d2d;
    max-width: 40vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.questions {
    padding: 34px 0;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width:1500px) {
    .boxes {
        flex-direction: column;
    }
    .head {
        font-size: 20px;
        top: -20px;
        left: 10px;
    }
}

@media screen and (max-width :1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
    }

    .secimg video {
        width: 305px;
    }

    .hero> :first-child {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-items {
        align-items: center;
    }

}

@media screen and (max-width :1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px
    }
}