@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
}

.main {
    background-image: url("main image.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box1 {
    width: 100%;
    height: 70vh;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 1;

}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Netflix Sans';
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: rgb(69, 69, 69);
}

.head {
    font-family: san sans-serif;
    height: 41.21px;
    font-size: 30px;
    width: 1240.98px;
    color: rgb(241, 235, 235);
    margin-top: 10px;
    margin-left: 180px;
    margin-bottom: 2px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.box-img {
    height: 261.991px;
    width: 130.995px;
    background-size: cover;
    background-color: aqua;
    border-radius: 1rem;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out
}

.box-img:hover {
    transform: scale(1.1);
    border: 2px solid white;
}

.box-img h1 {
    font-size: 100px;
    color: black;
    /* Black fill inside the number */
    text-shadow:
        2px 2px 0 white,
        /* Top-left border */
        -2px 2px 0 white,
        /* Top-right border */
        2px -2px 0 white,
        /* Bottom-left border */
        -2px -2px 0 white;
    /* Bottom-right border */
    margin-right: 120px;
    margin-bottom: 120px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.main input {
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    padding: 7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 3px 24px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.btn {
    padding: 3px 24px;
    font-weight: bold;
    color: black;

}